html, body
{
    height: 100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#container {
    display: flex; /* Use flexbox to align elements horizontally */
    height: 100%;
}

#code_bar
{
    margin-top: 3%;
    width: 7%;
    height: 40%;
    padding-left: 0.3%;
    padding-right: 0.5%;
    padding-bottom: 20%;
    background-color: rgb(230, 230, 230);
}

.code_type
{
    display: block;
    text-align: center;
    width: 100%;
    padding: 10%;
    margin-top: 15%;
    margin-bottom: 15%;
}

.code_type:hover
{
    cursor: pointer;
}

#coding {
    display: none;
    margin-top: 3%;
    width: 20%; 
    padding-left: 1%;
    padding-right: 1%;
    height: 60%;
    overflow-y: auto;
    background-color: rgb(240, 240, 240, 0.7);
}

#coding li button
{
    width: 50%;
    margin-bottom: 5%;
    padding: 3%;
    border-radius: 5px;
}

#coding li button.short
{
    width: 10%;
    margin-bottom: 3%;
    padding: 1%;
    border-radius: 5px;
}

#coding button{margin-bottom: 15%;}

#coding button:hover
{
    cursor: pointer;
}

input
{
    width: 20%;
}

input[type="number"]
{
    width: 6%;
}

input[placeholder="text"]
{
    width: 7%;
}

#coding input[type="color"]
{
    width: 10%;
}

#codeblocks input[placeholder="text"]
{
    width: 10%;
}

#display
{
    position: absolute;
    left: 70%;
    top: 5%;
    background-color: black;
    width: 30%;
    height: 40%;
    overflow: hidden;
    border-top: solid 5px grey;
    border-left: solid 5px grey;
}

#config
{
    background-color: rgb(240, 240, 240);
    position: absolute;
    top: 45%;
    left: 70%;
    width: 30%;
    height: 40%;
}

#build
{
    position: absolute;
    left: 71%;
    top: 50%;
    font-size: 200%;
    border-radius: 4px;
    transition: 0.5s;
}

#build:hover
{
    background-color: rgb(27, 240, 27, 0.7);
    cursor: pointer;
}

#codeblocks
{
    position: absolute;
    top: 6.5%;
    left: 31%;
    width: 50%;
}

#open
{
    display: none;
    background-image: linear-gradient(rgb(66, 135, 245), rgb(165, 191, 232));
    position: absolute;
    left: 76%;
    top: 50%;
    font-size: 200%;
    border-radius: 4px;
    transition: 0.5s;
}

#open:hover
{
    cursor: pointer;
}

ul
{
    padding-left: 0px;
    list-style-type: none;
}

li
{
    margin-bottom: 10%;
}

#codeblocks li
{
    margin-bottom: 5%;
}

#codeblocks input
{
    width: 4%;
}

#codeblocks button:hover
{
    cursor: not-allowed;
}

#codeblocks button.codeheader:hover
{
    cursor: pointer;
}

#codeblocks button.short:hover{
    cursor: pointer;
}

.codeheader
{
    font-family: Arial;
    font-size: 200%;
    background-color: rgba(0, 0, 0, 0.1);
    width: 25%;
    padding-left: 1%;
    margin-bottom: 4%;
}

iframe
{
    width: 1920px;
    height: 1080px;
    transform: scale(0.35); /* Scale down by 4x */
    transform-origin: top left; /* Keep the scaling relative to the top-left corner */
    border: none; /* Optional: remove iframe border */
    overflow: hidden;
}