body
{
    padding: 1rem;
    margin: 0;
    overflow-x: hidden;
}

.code
{
    display: flex;
    width: 27rem;
    flex: 1;
}

.container
{
    display: flex;
    width: 100vw;
    gap: 2rem;
}

.categories
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: rgb(217, 231, 231);
    padding: 1rem;
    width: 8rem;
    height: 80vh;
}

.code_type
{
    width: 90%;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.coding
{
    background-color: rgb(226, 245, 245);
    width: 25rem;
    padding: 1rem;
    height: 60vh;
}

#codeblocks
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40rem;
    flex: 1;
}

.codeheader
{
    text-align: center;
    width: 15rem;
    font-family: Arial;
    font-size: 200%;
    padding: 0.5rem;
    cursor: pointer;
}

.control
{
    display: flex;
    flex-direction: column;
    flex-grow: 0.97;
    flex: 1;
}

.display
{
    background-color: black;
    border: 5px solid grey;
    width: 100%;
    height: 20rem;
}

iframe
{
    width: 100%;
    height: 100%;
}

.config
{
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 20rem;
}

.panel
{
    margin-left: 2rem;
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}

#build
{
    font-size: 1.6rem;
    border-radius: 0.2rem;
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
}

#downloadimg
{
    width: 4rem;
}


#codeblocks input
{
    width: 4%;
}

input
{
    width: 20%;
}

input[type="number"]
{
    width: 6%;
}

input[placeholder="text"]
{
    width: 7%;
}

#coding input[type="color"]
{
    width: 10%;
}

#codeblocks input[placeholder="text"] 
{
    width: 10%;
}

#codeblocks input[type="tel"]
{
    width: 10%;
}

#coding li button
{
    width: 50%;
    margin-bottom: 5%;
    padding: 3%;
    border-radius: 5px;
}

#coding li button.short
{
    width: 10%;
    margin-bottom: 3%;
    padding: 1%;
    border-radius: 5px;
}

#coding li button.condition
{
    width: 20%;
    margin-bottom: 3%;
    padding: 1%;
    border-radius: 5px;
}

#coding button{margin-bottom: 15%;}

#coding button:hover
{
    cursor: pointer;
}

ul
{
    list-style: none;
}