<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for("static", filename="style.css")}}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for("static", filename="meta/apple-touch-icon.png")}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for("static", filename="meta/favicon-32x32.png")}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for("static", filename="meta/favicon-16x16.png")}}" >
    <link rel="manifest" href="{{url_for("static", filename="meta/site.webmanifest")}}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="{{url_for("static", filename="script.js")}}"></script>
    <title>Kodekloss</title>
</head>
<body>
    <div class="container">
        <div class="code">
            <div class="categories">
                <button onclick="show_codes(this)" class="code_type"> Visuellt </button>
    
                <button onclick="show_codes(this)" class="code_type"> Inndata </button>
    
                <button onclick="show_codes(this)" class="code_type"> Logikk </button>
    
                <button onclick="show_codes(this)" class="code_type"> Løkker </button>
                
                <button onclick="show_codes(this)" class="code_type"> Matte </button>
    
                <button onclick="show_codes(this)" class="code_type"> Variabler </button>

                <a target="_blank" class="om" href="/om"> Om </a>
            </div>
    
            <div class="coding" id="coding" hidden>
                <h2>  </h2>
            </div>
        </div>
        
        <div id="codeblocks">
            <div id="Start">
                <button onclick="chosen_section(this)" class="codeheader"> Start </button>

                <ul id="start"></ul>
            </div>

            <div id="Inndata">
                <button onclick="chosen_section(this)" class="codeheader"> Inndata </button>

                <ul id="inndata"></ul>
            </div>

            <div id="Oppdater">
                <button onclick="chosen_section(this)" class="codeheader"> Oppdater </button>

                <ul id="oppdater"></ul>
            </div>

            <div id="Visuelt">
                <button onclick="chosen_section(this)" class="codeheader"> Visuelt </button>

                <ul id="visuelt"></ul>
            </div>
        </div>

        <div class="control">
            <div class="display" id="display"></div>

            <div class="config">
                <div class="panel">
                    <button onclick="build_project()" id="build"> Kompiler </button>
                    <a href="{{url_for("static", filename="compiler.exe")}}" download="compiler.exe" id="download"> <img id="downloadimg" alt="download compiler" src="{{url_for("static", filename="download.png")}}"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>