<!DOCTYPE html>

<html>
    <head>
        <title> Raylib Visual </title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    

        <link rel="stylesheet" href="{{url_for("static", filename="style.css")}}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
        <script src="{{url_for("static", filename="script.js")}}"></script>
    </head>

    <body>
        <div id="container">
            <div id="code_bar">
                <button onclick="show_codes(this)" class="code_type"> Render </button>
                <button onclick="show_codes(this)" class="code_type"> Input </button>
                <button onclick="show_codes(this)" class="code_type"> Logic </button>
                <button onclick="show_codes(this)" class="code_type"> Loops </button>
                <button onclick="show_codes(this)" class="code_type"> Math </button>
                <button onclick="show_codes(this)" class="code_type"> Variables </button>
            </div>
        
            <div id="coding">
                <h2>  </h2>
            </div>

            <di id="codeblocks">
                <div id="Input">
                    <h1 class="codeheader"> Input </h1>

                    <ul id="input">

                    </ul>
                </div>

                <div id="Update">
                    <h1 class="codeheader"> Update </h1>

                    <ul id="update">

                    </ul>
                </div>

                <div id="Render">
                    <h1 class="codeheader"> Render </h1>

                    <ul id="render">

                    </ul>
                </div>
            </di>

            <div id="display">

            </div>
            
            <div id="config"></div>
                <button onclick="build_project()" id="build"> Build </button>
                <button onclick="open_project()" id="open"> Open Project </button>
            </div>

        </div>

    </body>
</html>