<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for("static", filename="meta/apple-touch-icon.png")}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for("static", filename="meta/favicon-32x32.png")}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for("static", filename="meta/favicon-16x16.png")}}" >
    <link rel="manifest" href="{{url_for("static", filename="meta/site.webmanifest")}}">
    <title>Om</title>
</head>
<body>
    <a href="/"> Tilbake </a>
    <div class="center">
        <h1> Om </h1>

        <h3> Bakgrunn </h3>

        <p>
            Kodekloss er et visuelt programmeringsspråk som kan brukes til å lage små visuelle spill/applikasjoner.
            Dette var et skole prosjekt jeg lagde på to uker, koden er for den grunn ikke særlig pen for, men jeg mener fortsatt at slutt produktet ble bra.
            Jeg har derfor valgt å la det stå åpent her som en mulig lærringsressurs eller bare noe å ha morro med.
            Jeg lagde hele dette før jeg hadde fått noe erfaring med rammeverk, alt jeg viste kom fra nettressurser som w3schools, derfor er selve utviklingen gjort på et vis som døde ut for rundt 15 år siden.
            På grunn av veldig improvisatorisk utvikling er det utfordrende å skulle legge til lagring av kode prosjekter, men om det skulle være noe man skulle ønsket kan jeg muligens se videre på det.
        </p>

        <h3> Tutorial </h3>

        <p>
            Som utvikler virker selvsagt arkitekturen helt åpenbar, men for andre ser jeg hvordan det kan oppstå forvirringer.
            Dette er imidlertid ikke en introduksjon for grunnleggende programmerings konsepter, det kan du finne <a target="_blank" href="https://www.w3schools.com/programming/index.php>">her</a> om disse konseptene er helt nye for deg.
            Men så her er da hoved konseptene for hvordan du programmerer i Kodekloss:
            <ul>
                <li>
                    For å plassere klosser trykker du først på punktet i koden det skal være; start om det går i start, visuelt om det skal vises visuelt på skjermen osv.
                    Deretter går du innpå panelet og finner klossen som trenges og trykker på den.
                </li>

                <li>
                    Variabel, matte, og museposisjon sammen med og/eller klosser kan du dra over til de til tomme boksene som lyses opp når du begynner dra bevegelsen.
                </li>

                <li>
                    For å fjerne klosser trenger du å trykke på dem med musehjulet. 
                </li>

                <li>
                    Rekkefølgen i boksene som står tomme går: posisjonX, posisjonY, størrelseX, størrelseY, eneste untak er ved tekst hvor det er tekst, posisjonen og så font størrelse.
                </li>
            </ul>
        </p>

        <h2> Demonstrasjons video </h2>

        <video controls width="320" height="240">
            <source src="{{url_for("static", filename="Kodekloss.mp4")}}">
        </video>

        <h2> Kontakt </h2>

        <p> Om det skulle være noe spesielt kan du kontakte meg på e-posten: amundlaudal@gmail.com </p>
    </div>
</body>

<style>
    html
    {
        font-family: sans-serif;
    }

    .center
    {
        margin: 0 auto;
        width: 40%;
    }
</style>
</html>