<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om</title>
</head>
<body>
    <a href="/"> Tilbake </a>
    <div class="center">
        <h1> Om </h1>

        <h3> Bakgrunn </h3>

        <p>
            Kodekloss er et visuelt programmeringsspråk som kan brukes til å lage små visuelle spill/applikasjoner.
            Dette var et skole prosjekt jeg lagde på to uker, koden er for den grunn ikke særlig pen for den grunn, men jeg mener fortsatt at slutt produktet ble bra.
            Jeg har derfor valgt å la det stå åpent her som en mulig lærringsressurs eller bare noe å ha morro med.
            På grunn av veldig improvisatorisk utvikling er det utfordrende å skulle legge til lagring, men om det skulle være noe man skulle ønske kan jeg muligens se videre på det.
        </p>

        <h3> Tutorial </h3>

        <p>
            Som utvikler virker selvsagt arkitekturen helt åpenbar, men for andre ser jeg hvordan det kan oppstå forvirringer.
            Dette er imidlertid ikke en introduksjon for grunnleggende programmering det kan du finne <a target="_blank" href="https://www.w3schools.com/programming/index.php>">her</a> om disse konseptene er helt nye for deg.
            Om det da er forstått, så er dette nært sagt alt du trenger å vite for å programmere i Kodekloss:
            <ul>
                <li>
                    For å plassere klosser trykker du først på punktet i koden det skal være; setup om det går i start, render om det skal tenes på skjermen osv.
                    Deretter går du innpå panelet og finner klossen som trenges og trykker på den.
                </li>

                <li>
                    For å plassere matte og variabel klosser drar du de ned på den tomme boksen den skal, fks dra posisjonX variabel for spilleren i posisjonX boksen for å tegne spilleren.
                </li>

                <li>
                    Rekkefølgen i boksene som står tomme går: posisjonX, posisjonY, størrelseX, størrelseY, eneste untak er ved tekst hvor det bare er posisjonene og så font størrelse.
                </li>
            </ul>
        </p>
    </div>
</body>

<style>
    .center
    {
        margin: 0 auto;
        width: 30%;

        font-family: sans-serif;
    }
</style>
</html>